.header-burger {
  position: absolute;
  right: 25px;
  top: 35px;
  display: none;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.header-burger.down {
  top: 20px;
}

@media (max-width: 1050px) {
  .header-burger {
    display: block;
    width: 35px;
    height: 25px;
    top: 25px;
  }
  .header-burger.down {
    top: 15px;
  }
  .header-burger span {
    -webkit-transition-duration: 0.6s;
         -o-transition-duration: 0.6s;
            transition-duration: 0.6s;
    display: inline-block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
  }
  .header-burger span:nth-child(2) {
    top: 12px;
  }
  .header-burger span:nth-child(3) {
    top: 25px;
  }
}

@media (max-width: 767.98px) {
  .header-burger {
    top: 20px;
  }
  .header-burger.down {
    top: 10px;
  }
}

.header-burger.activ span {
  display: inline-block;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 12px;
}

.header-burger.activ span:nth-child(2) {
  display: none;
}

.header-burger.activ span:nth-child(3) {
  display: inline-block;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 12px;
}
