.header-burger{
	position: absolute;
	right: 25px;
	top: 35px;
	display: none;
	transition: all 0.2s ease 0s;
	&.down{
		top: 20px;
	}
	@media (max-width: 1050px) {
		display: block;
		width: 35px;
		height: 25px;
		top: 25px;
		&.down{
			top: 15px;
		}
		span{
			transition-duration: 0.6s;
			display: inline-block;
			width: 100%;
			height: 2px;
			border-radius: 2px;
			background: #000;
			position: absolute;
			left: 0;
			top: 0;
			&:nth-child(2){
				top: 12px;
			}
			&:nth-child(3){
				top: 25px;
			}
		}
	}
	@media (max-width: 767.98px){
		top: 20px;
		&.down{
			top: 10px;
		}
	}
}

.header-burger.activ{
	span{
			display: inline-block;
			transform: rotate(45deg);
			top: 12px;		
		&:nth-child(2){
			display: none;
		}
		&:nth-child(3){
			display: inline-block;
			transform: rotate(-45deg);
			top: 12px;
		}
	}
}